/* @import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&display=swap"); */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body{
    background-color: #dad7cd;
    font-family: 'Montserrat', sans-serif;
}

/* HEADER */

.header{
    background-color: #87986a;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.headerLogo img{
    width: 120px;
    padding: 7px;   
}

.headerMenu ul{
    margin-top: 16px;
}

.headerMenu ul li{
    display: inline;
    justify-content:flex-end;
    text-align: center;
    margin-right: 5px;
}
      
nav ul li a{
        color: white;
        padding-right: 8px;
        text-decoration: none;
    }

nav ul li a:hover{
    color: black;
}

/* GENERAL */

a{
    color: black;
    text-decoration: none;
}

p {
    color: black;
    text-decoration: none;
    line-height: 1.5;
    font-size: 1rem;
}

.section{
    padding-top: 6%;
}

.section2{
    padding-top: 2%;
}

.section3{
    padding-bottom: 50px;
}

.section4{
    padding-bottom: 25px;
}

.centrar{
    text-align:center
}

.centrar2 {
    width:auto;
    text-align: center;
    margin: 8px 0px 0px;
}

.centrarTitulo{
    text-align:center
}

.ajustarImagen{
    height:500px;
    width: 55%;
}

.ajustarImagen2{
    width: 50%;
    margin: 0 auto;
}

.ajustarImagen3{
    width: 42%;
    margin: 0 auto;
}
.ajustarForm{
    width: 50%;
    margin: 0 auto;
}

.centrarTexto1{
    text-align:center;
    margin: 42px 0;
}

.centrarTexto{
    text-align:center;
    margin: 50px 0;
}

.centrarTexto2{
    text-align:center;
    margin: 30px 60px 0px;
}

.espacio{
    margin: 20px 0;
}

.espacio2{
    margin-top: 2%;
}

.espacioServicios{
    margin-top: 50px;
}

.row {
    margin: 0 !important;
}

/* .card{
    border: 0.5px solid grey;   
} */

.card1{
    margin: 0% 0% 10% 10%;   
}

.card2{
    margin: 0% 5% 10% 5%;   
}

.card3{
    margin: 0% 10% 10% 0%;   
}

/* SERVICIOS */

.boxConteiner {
    background-color: #dad7cd;
    display: flex;
    justify-content: space-evenly;
}

.boxItem {
    width: 300px;
    height: 150px;
    color: white;
    font-weight: bold;
    margin: 20px 2% 20px 2%;
        
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(179, 184, 158);
    border-radius: 40px;
}

.marginServicios{
    margin: 5% 0;
}

.marginTexto{
    margin-top: 32px;
}


/* FOOTER */

.footer {
    background-color: rgb(174, 179, 152);
    padding-top: 14px;
}

.footerRow {
    margin-top: 10px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.footerRow2 {
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.footerMenu {
    width: 70%;
    display: flex;
    justify-content:center;
}

.footerSocial {
    width: 50%;
    display: flex;
    justify-content:flex-start;
}
.footerMenu ul {
    list-style: none;
}

.footerMenu ul li {
    margin-top: 5px;
}

.footerMenu a {
    color: black !important;
}

.footerSocial a:not(:first-child){
    margin-left: 20px;
}

.footerSocial img {
    height: 40px;
}

.footerDerechos{
    font-size: 0.8rem;
}

    
/* MEDIA QUERIES*/
/* TABLET */
@media screen and (max-width: 768px) {
    .headerMenu ul li{
        display:contents;
    }
    
    .ajustarImagen{
        height: 100%;
        width: 60%;   
    }

    .ajustarImagen2{
        width: 80%;
        margin: 0 auto;   
    }

    .ajustarImagen3{
        width: 65%;
        margin: 0 auto;
    }
    
    .section{
        padding-top: 12%;
    }

    .centrar {
        width:auto;
        margin-bottom: 40px;
    }

    .centrar2 {
        width:auto;
        text-align: center;
        margin: 5px 0px 5px;
    }

    .centrar3 {
        width:auto;
        text-align: center;
        margin-bottom: 2%;
    }

    .contacto {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }
 
    .footerMenu {
        width: 70%;
        display: flex;
        justify-content:center;
    }

    .footerSocial {
        width: 70%;
        display: flex;
        justify-content:flex-start;
    }

    .footerSocial img {
        height: 35px;
    }

    .espacio2{
        margin-top: 3%;
    }

    .card{
        margin: 0% 10% 2%;
    }

    .marginTexto{
        margin: 1%;
    }

    .marginServicios{
        margin-top: 2%;
    }

    .boxItem{
        font-size: 0.9rem;
    }
    
    .footerDerechos{
        font-size: 0.8rem;
    }


}

/* MOBILE */
@media screen and (max-width: 576px) {
    .headerMenu ul li{
        display:contents;
    }

    .ajustarImagen{
        height: 100%;
        width: 60%;   
    }
    
    .contacto {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }

    .section{
        padding-top: 22%;
    }

    .ajustarImagen2{
        width: 85%;
        margin: 0 auto;
    }

    .ajustarImagen3{
        width: 85%;
        margin: 0 auto;
    }

    .centrar {
        width:auto;
        margin-bottom: 50px;
    }

    .centrar2 {
        width:auto;
        margin-bottom: 10px;
    }

    .centrarTexto2{
        text-align:center;
        margin: 30px 5px 0px;
    }

    .espacio2{
        margin-top: 8%;
    }

    .card{
        margin: 0% 4% 2%;
    }

    .marginTexto{
        margin: 0.5% 2%;
    }

    .boxItem{
        font-size: 0.8rem;
    }

    .footerDerechos{
        font-size: 0.8rem;
    }
}




