@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&display=swap");

body{
    background-color: #dad7cd;
    font-family: 'Roboto Slab', serif;
}

.section{
    padding-top: 6%;
}

.section2{
    padding-top: 2%;
}

.header{
    background-color: #87986a;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.headerLogo img{
    width: 120px;
    padding: 7px;   
}

.headerMenu ul li{
    display: inline-block;
    margin-right: 10px;
}
      
nav ul li a{
        color: white;
        padding-right: 15px;
        text-decoration: none;
    }

nav ul li a:hover{
    color: black;
}


a{
    color: black;
    text-decoration: none;
}

p {
    color: black;
    text-decoration: none;
    line-height: 1.5;
    font-size: 1rem;
}

.centrar{
    text-align:center
}


.ajustarImagen{
    height:500px;
    width: 55%;
}

.ajustarImagen2{
    width: 50%;
    margin: 0 auto;
}

.ajustarForm{
    width: 90%;
    margin: 0 auto;
}

.ajustarImagen3{
    width: 42%;
    margin: 0 auto;
}


.centrarTexto1{
    text-align:center;
    margin: 42px 0;
}

.centrarTexto{
    text-align:center;
    margin: 50px 0;
}

.espacio{
    margin: 20px 0;
}

.espacioServicios{
    margin-top: 50px;
}

table{
    display: flex;
    justify-content:space-around;
}    

.imagenes{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

.colorFondo{
    background-color: #dad7cd;
    border: none;
}

    
/* MEDIA QUERIES*/
/* TABLET */
@media screen and (max-width: 768px) {
    .headerMenu ul li{
        display:contents;
    }
    
    .imagenes {
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }

    .ajustarImagen{
        height: 100%;
        width: 60%;   
    }

    .ajustarImagen3{
        width: 85%;
        margin: 0 auto;
    }
    
    .section{
        padding-top: 20%;
    }

    .centrar {
        width:auto;
        margin-bottom: 50px;
    }

    .contacto {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }

}

/* CELULAR */
@media screen and (max-width: 576px) {
    .headerMenu ul li{
        display:contents;
    }
    
    .imagenes {
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }

    .ajustarImagen{
        height: 100%;
        width: 60%;   
    }
    
    .contacto {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }

    .section{
        padding-top: 22%;
    }

    .ajustarImagen2{
        width: 85%;
        margin: 0 auto;
    }

   

    .centrar {
        width:auto;
        margin-bottom: 50px;
    }

    
}





